server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;

    server_name sgiptv.com.br;

    # 1. FIX: Redirecionamento se faltar a barra (Fundamental para abrir o site)
    location = /fazendinha {
        return 301 /fazendinha/;
    }

    # 2. Frontend (Jogo)
    location /fazendinha/ {
        alias /home/pi/fazendinha_online/;
        index index.html;

        # Segurança Básica
        location ~ ^/fazendinha/\.(?!well-known) { deny all; }
        location ~ ^/fazendinha/(server|migrations|\.git) { deny all; }
    }

    # 3. Backend (Proxy para API)
    location /fazendinha/api/ {
        proxy_pass http://localhost:3002/api/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    # 4. Outros
    location / {
        try_files $uri $uri/ =404;
    }
}
